DATABASE_URL="mysql://user_name:password@localhost:3306/database_name"
DATABASE_USER="your_databse_user_name" 
DATABASE_PASSWORD="your_databse_password" 
DATABASE_NAME="your_databse_name" 
DATABASE_HOST="localhost" 
DATABASE_PORT=3306 

GIGACHAT_SCOPE=''
GIGACHAT_CRED=''

MINI_APP_ID=1234567 // number your datePicker mini-app
OWNER_GROUP_ID=-1234567 // number your group with minus