@font-face {
  font-family: "Nunito-ExtraBold";
  src: url(../fonts/Nunito/Nunito-ExtraBold.ttf);
}

@font-face {
  font-family: "Nunito-Bold";
  src: url(../fonts/Nunito/Nunito-Bold.ttf);
}

@font-face {
  font-family: "Nunito-Medium";
  src: url(../fonts/Nunito/Nunito-Medium.ttf);
}

@font-face {
  font-family: "Nunito-SemiBold";
  src: url(../fonts/Nunito/Nunito-SemiBold.ttf);
}

@font-face {
  font-family: "Nunito";
  src: url(../fonts/Nunito/Nunito-Calendar.ttf);
}

html,
body {
  background-color: #f8f8f8;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

.header-4xl {
  font-family: "Nunito-ExtraBold";
  font-size: 56px;
}

.header-3xl {
  font-family: "Nunito-ExtraBold";
  font-size: 48px;
}

.header-25xl {
  font-family: "Nunito-ExtraBold";
  font-size: 40px;
}

.header-2xl {
  font-family: "Nunito-ExtraBold";
  font-size: 32px;
}

.header-xl {
  font-family: "Nunito-ExtraBold";
  font-size: 24px;
}

.header-lg {
  font-family: "Nunito-ExtraBold";
  font-size: 22px;
}

.header-md {
  font-family: "Nunito-ExtraBold";
  font-size: 18px;
}

.header-sm {
  font-family: "Nunito-Bold";
  font-size: 16px;
}

.main-text-lg {
  font-family: "Nunito-Medium";
  font-size: 18px;
}

.main-text-md {
  font-family: "Nunito-Medium";
  font-size: 16px;
}

.main-text-sm {
  font-family: "Nunito-Medium";
  font-size: 14px;
}

.second-text {
  font-family: "Nunito-SemiBold";
  font-size: 14px;
}

.settings-text {
  font-family: "Nunito-SemiBold";
  font-size: 16px;
  color: #9da4b1;
}

.cal-md {
  font-family: "Nunito-SemiBold";
  font-size: 14px;
}

.cal-sm {
  font-family: "Nunito-SemiBold";
  font-size: 12px;
}

.cal-event-md {
  font-family: "Nunito-Bold";
  font-size: 12px;
}

.content {
  display: flex;
  flex-direction: row;
}

.title {
  border-radius: 15px;
  height: 72px;
  background-color: #e9f3ff;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 25px;
  justify-content: space-between;
  margin-left: 0;
}

.title-left {
  align-items: center;
  display: flex;
}

.title-toggle {
  padding-left: 25px;
  height: 24px;
  width: 42px;
}

.title-text {
  padding-left: 25px;
}

.center {
  width: 95%;
}

.frame {
  background-color: white;
  box-shadow: 0 6px 32px 2px rgba(0, 0, 0, 0.08);
  border-radius: 25px;
}
